@{
  Layout = "_Layout";
}


<h1>Welcome Recipe Box!</h1>
<h3>@Html.ActionLink("See all recipes", "Index", "Recipes")</h3>
<p>@Html.ActionLink("Add a Recipe", "Create", "Recipes")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<!-- <p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p> -->

